body {
  padding: 0;
  margin: 0;
  font-family: "poppins", sans-serif;
  background-color: #080808;
  color: aliceblue;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}
.container {
  margin: 0 6rem;
  margin-top: 10rem;
}
.navbar {
  padding: 2rem 6rem;
  width: 100vw;
  position: fixed;
  top: 0;
  background: linear-gradient(180deg, #080808 75%, rgba(8, 8, 8, 0) 100%);
}

.navbar-links {
  color: aliceblue;
  padding: 0;
  width: fit-content;
  margin: auto;
  display: flex;
  gap: 2.5rem;
  list-style: none;
  font-size: 20px;
  /* text-transform: uppercase; */
}
.intro-section {
  display: flex;
}

a {
  color: aliceblue;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #a5fa00;
  text-shadow: 0px 0px 20px #a5fa00;
}

h1 {
  font-family: "Space Grotesk", sans-serif;
  color: aliceblue;
  font-weight: 500;
  font-size: 3rem;
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.7);
  margin: 0;
  padding: 0;
  text-align: center;
}

.project-heading {
  text-align: left;
}

.coming-soon {
  font-size: 2.5rem;
  font-weight: 300;
  text-align: center;
  padding: 10rem 0;
  margin-top: 2rem;
  border: 2px dashed whitesmoke;
  border-radius: 1rem;
  color: #a5fa00;
  font-family: "Space Grotesk", sans-serif;
}

.green-part {
  color: #a5fa00;
}

.project-description {
  color: rgba(255, 255, 255, 0.75);
  width: 60%;
  margin-bottom: 3.5rem;
}

.learn-more {
  background-color: #8dc71a;
  color: aliceblue;
  padding: 1rem 1.5rem;
  border-radius: 500px;
}

.learn-more:hover {
  box-shadow: 0 0 20px rgba(165, 250, 0, 0.6);
  color: aliceblue;
}

.members {
  margin-top: 4rem;
  margin-bottom: 5rem;
}
table {
  width: 80%;
  margin-bottom: 5rem;
  margin: auto;
}

th {
  color: #a5fa00;
  font-weight: 500;
}

table,
th,
td {
  border: 1px solid white;
  border-collapse: collapse;
}

th,
td {
  padding: 1.25rem;
  text-align: center;
}

.resume {
  color: #8dc71a;
}

.resources-section {
  margin-top: 5rem;
  margin-bottom: 4rem;
}

.details-section {
  width: fit-content;
  gap: 1rem;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  /* align-items: center;
  justify-content: center; */
  border-radius: 10px;
  padding: 2rem 3rem;
}

h3 {
  color: #a5fa00;
  font-weight: 400;
}

.email,
.phone {
  color: rgba(255, 255, 255, 0.75);
}

.details {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 2rem;
  background-color: #303132;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 0px 10px rgba(255, 255, 255, 0.3);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.info p,
.info h3 {
  padding: 0;
  margin: 0;
}

.info p {
  font-size: 14px;
}

img {
  object-fit: cover;
}

.image {
  margin-top: -4rem;
  margin-left: -5rem;
  height: 400px;
  width: 250px;
  width: fit-content;
  box-shadow: 0 5px 50px rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  overflow: hidden;
  object-fit: cover;
}
